<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon Vision | Painel Admin</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Poppins:wght@300;400;500;600;700&family=Yuji+Syuku&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
    <link rel="stylesheet" href="./styles/style.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
    <script type="module" src="./script/main.js" defer></script>

</head>

<body class="bg-black font-['Poppins']">

    <div class="aurora-wrap">
        <div class="aurora-1"></div>
        <div class="aurora-2"></div>
    </div>

    <div class="layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">
            <div class="sidebar-logo">
                <a href="./../../../index.html">
                    <svg class="w-8 h-8 text-[#FFCC7F]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="1.5">
                        <path d="M12 2L3 7l9 5 9-5-9-5zM3 17l9 5 9-5M3 12l9 5 9-5" />
                    </svg>
                </a>
                <div>
                    <div class="font-yuji text-xl text-white [text-shadow:0_0_10px_rgba(255,204,127,0.8)]">
                        <span class="text-[#CA9440]">S</span><span>alon</span>
                        <span class="text-[#CA9440]">V</span><span>ision</span>
                    </div>
                    <span class="logo-badge-admin">ADMIN</span>
                </div>
            </div>

            <nav class="nav-section">
                <h2 class="nav-label">Principal</h2>
                <a id="dashboard" class="nav-item active cursor-pointer" href="#">
                    <i class="ti ti-layout-dashboard" aria-hidden="true"></i>
                    <h1> Dashboard </h1>
                </a>
                <a id="agendamentos" class="nav-item cursor-pointer" href="#">
                    <i class="ti ti-calendar" aria-hidden="true"></i>
                    <h1> Agendamentos </h1>
                </a>
                <a id="servicos" class="nav-item cursor-pointer" href="#">
                    <i class="ti ti-cut" aria-hidden="true"></i>
                    <h1> Serviços </h1>
                </a>
                <a id="avaliacoes" class="nav-item cursor-pointer" href="#">
                    <i class="ti ti-star" aria-hidden="true"></i>
                    <h1> Avaliações </h1>
                </a>
                <div class="nav-label" style="margin-top: 8px;">
                    <h1> Pessoas </h1>
                </div>
                <a id="professionais" class="nav-item cursor-pointer" href="#">
                    <i class="ti ti-user-check" aria-hidden="true"></i>
                    <h1> Profissionais </h1>
                </a>

                <a id="clientes" class="nav-item cursor-pointer" href="#">
                    <i class="ti ti-users" aria-hidden="true"></i>
                    <h1> Clientes </h1>
                </a>
            </nav>

            <div class="sidebar-bottom">
                <div class="user-card">
                    <img src="https://i.pravatar.cc/80?img=47" class="user-avatar" alt="Admin" />
                    <div class="user-info">
                        <p>Ana Costa</p>
                        <span>Gerente geral</span>
                    </div>
                    <i class="ti ti-dots-vertical"
                        style="margin-left: auto; color: var(--text-dim); font-size: 14px;"></i>
                </div>
            </div>
        </aside>

        <!-- MAIN -->
        <div class="main">

            <!-- TOPBAR -->
            <header class="topbar">
                <div>
                    <h1 class="topbar-title" id="topbar-title">
                        Visão <em>geral</em>
                    </h1>
                    <h2 class="tb-date" id="topbar-date"></h2>
                </div>
                <div class="topbar-right">
                    <img src="https://i.pravatar.cc/80?img=47"
                        style="width:34px;height:34px;border-radius:9px;object-fit:cover;border:1px solid var(--border-strong);cursor:pointer;"
                        alt="Admin" />
                </div>
            </header>

            <!-- CONTENT -->
             <main class="content" id="page-content">


            </main>
        </div>
    </div>
</body>

</html>