:root {
    --bg: #0B0B0F;
    --cinza: #1F1B22;
    --itens: #676767;
    --rosa: #FF4F9A;
    --clarinho: #FFB6D5;
    --branco: #F4F1F6;
    --preto: #181818;
    --cinza-claro: rgba(1, 1, 1, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra inteira */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo */
::-webkit-scrollbar-track {
    background: var(--branco);
}

/* Parte que desliza */
::-webkit-scrollbar-thumb {
    background: var(--cinza-claro);
    border-radius: 10px;
}

.svg-line {
    width: 1000px;
    height: 3000px;
    display: block;
    transform: translateX(-300px);
}



.line {

    fill: none;

    stroke: #333;

    stroke-width: 30px;

}



#stroke-path {

    fill: none;

    stroke: var(--rosa);

    stroke-width: 10px;

    stroke-linecap: round;

}


body {
    height: 400vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}

.video-container {
    width: 450px;
    height: 450px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    overflow: hidden;
    border-radius: 30px;

    background: #181818;
    z-index: 11;
    box-shadow:
        0 30px 80px rgba(0, 0, 0, .25);

    border: 1px solid rgba(255, 255, 255, .15);
}


.video-container video {

    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1112;
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.5em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line-menu {
    fill: none;
    stroke: var(--branco);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger .line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.card {
    opacity: 0;
    top: 10px;
    position: fixed;
    width: 180px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
    background: var(--cinza);
    backdrop-filter: blur(24px);
    border-radius: 10px;
}

.blob {
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    background-color: var(--clarinho);
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);

    opacity: 0;
    pointer-events: none;

    z-index: 1000;
    transition: .5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#title {
    position: fixed;
    color: var(--branco);
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

#menu-circle {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-left: 35px;
}


.item {
    width: 10px;
    position: relative;
    color: var(--itens);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    transform: translateX(-80px) scale(0);
    opacity: 0;

    pointer-events: auto;

    transition: color .3s, text-shadow .3s;
    gap: 8px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--branco);
    box-shadow: 0 0 8px var(--branco);
    transform: scale(0);
    opacity: 0;
    flex-shrink: 0;
}

#menu-wrapper {
    position: absolute;
    inset: 0;
}

.redes {
    position: absolute;
    bottom: 15px;
    left: 65%;

    transform: translateX(-50%);

    display: flex;
    gap: 20px;

    align-items: center;
}


.redes a {
    color: var(--itens);
    text-decoration: none;

    font-size: 0.8rem;
    font-weight: bold;

    transition: .3s ease;
}


.redes a:hover {
    color: var(--branco);
    text-shadow: 0 0 15px var(--branco);
}

.menu-login {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
}


#open {
    position: relative;
    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(12px);

    cursor: pointer;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
        background .5s ease,
        box-shadow .5s ease,
        transform .5s ease;
}

#open:hover {
    background: rgba(255, 79, 154, 0.15);
    box-shadow: 0 0 20px rgba(255, 79, 154, .4);
}

#open:active {
    transform: scale(.95);
}

#open h2 {
    margin: 0;
    left: 0;
    font-size: 2rem;
    color: #fff;
    user-select: none;
    transform-origin: center;
    will-change: transform;
}

.buttons-login {
    position: absolute;
    right: 0;
    width: 0;
    overflow: hidden;

    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;

    height: 60px;

    background: rgba(255, 79, 154, .4);
    border-radius: 40px;

    padding-right: 70px;
}

.buttons-login button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    right: 0;
    cursor: pointer;

    background: rgba(255, 255, 255, .1);
    color: white;
    font-weight: bold;

    transition:
        background .5s ease,
        box-shadow .5s ease,
        transform .5s ease;
}

.buttons-login button:hover {
    background: rgba(255, 79, 154, 0.15);
    box-shadow: 0 0 20px rgba(255, 79, 154, .4);
    transform: scale(1.03);
}

.buttons-login button:active {
    transform: scale(.95);
}