<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SVG Scroll</title>

    <link rel="stylesheet" href="style.css">

</head>


<body>

        <section class="timeline-section">
            <div class="camera">
                <div class="track">
                    <svg class="timeline-svg" viewBox="0 0 7635 7528">


                        <!-- LINHA HORIZONTAL -->
                        <path id="timeline-horizontal" d="
    M0.289551 256.5
    C0.289551 256.5 353.79 0.5 737.79 0.5
    C1121.79 0.5 1445.29 256.5 1791.79 256.5
    C2138.29 256.5 2401.29 0.5 2792.79 0.5
    C3184.29 0.5 3492.79 256.5 3899.29 256.5
    C4305.79 256.5 4576.79 0.5 4968.29 0.5
    C5359.79 0.5 5721.29 256.5 6150.29 256.5
    C6579.29 256.5 6616.29 0.5 6940.29 0.5
    C7264.29 0.5 7256.29 121 7376.79 256.5
    " />


                        <!-- LINHA VERTICAL -->
                        <path id="timeline-vertical" d="
    M7376.79 256.5
    C7600 500 7600 900 7350 1300
    C7100 1700 7100 2500 7450 3200
    C7800 3900 7600 5600 7376.79 7528
    " />

                    </svg>
                    <div class="feitos">
                        <div class="point p1">
                            <h2>Agenda</h2>
                        </div>
                        <div class="point p2">
                            <h2>Relatórios</h2>
                        </div>
                        <div class="point p3">
                            <h2>Serviços</h2>
                        </div>
                    </div>
                    <div class="servicos">
                        <div class="point s1">
                            <h2>Agenda</h2>
                            <h4>R$ 4,00</h4>
                        </div>
                        <div class="point s2">
                            <h2>Relatórios</h2>
                        </div>
                        <div class="point s3">
                            <h2>Serviços</h2>
                        </div>
                        <div class="point s4">
                            <h2>Serviços</h2>
                        </div>
                        <div class="point s5">
                            <h2>Serviços</h2>
                        </div>
                        <div class="point s6">
                            <h2>Serviços</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>


    <script src="script.js"></script>


</body>

</html>